.font {
    font-family: "Hans Kendrick", 'Roboto','Helvetica Neue',sans-serif;
    font-weight: 500;
    color: $color-main;
    text-align: center;
    &_menu {
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: $color-main-dark;
        text-decoration: none;
        text-align: left;
    }
    &_tab {
        text-transform: none;
        font-weight: 400;
        // color: $color-gray-dark;
        font-size: 14px;
        line-height: 14px;
    }
    &__title {
        font-size: 15px;
        line-height: 32px;
        text-transform: uppercase;
        letter-spacing: 3px;
        &_color {
            color: $color-gray-dark;
            letter-spacing: normal;
        }
        &_portal {
            color: $color-gray-dark;
            letter-spacing: normal;
            text-transform: none;
        }
        &_team {
            color: $color-gray-light;
        }
        &_btn {
            line-height: 28px;
        }
        &_btn-modal {
            line-height: 20px;
        }
        &_modal {
            text-transform: none;
            color: $color-gray-dark;
        }

    }
    &__contact {
        font-size: 28px;
        color: $color-gray-dark;
    }
    &__descr {
        font-weight: 400;
        &_about {
            font-size: 35px;
            line-height: 52px;
        }
        &_team {
            font-size: 20px;
            line-height: 36px;
        }
        &_passion {
            font-size: 26px;
            line-height: 65px;
            color: $color-main-darken;
        }
        &_contact {
            font-size: 20px;
            line-height: 36px;
            color: $color-gray-dark;
        }
        &_input {
            font-size: 16px;
        }
        &_policy {
            font-size: 15px;
            line-height: 20px;
            color: $color-gray-dark;
            text-align: right;
        }
        &_cookie {
            font-size: 15px;
            line-height: 38px;
            color: $color-gray-dark;
            text-align: right;
        }
        &_copyright {
            font-size: 12px;
            line-height: 14px;
            color: $color-gray;
        }
    }
    &__big {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        &_goals {
            color: $color-night;
            line-height: 36px;
            text-align: left;
        }
        &_services {
            line-height: 46px;
            text-align: left;
        }
    }
}

.font-table {
    font-family: "Hans Kendrick", 'Roboto','Helvetica Neue',sans-serif;
    color: black;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: normal;
    text-transform: none;
}


.font-home {
    font-family: "Montserrat",'Helvetica Neue',sans-serif;
    font-weight: 500;
    color: $color-main;
    &_title {
        font-size: 80px;
        line-height: 80px;
    }
    &_subtitle {
        font-size: 45px;
        line-height: 45px;
        font-weight: 400;
    }
    &_link {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: $color-main-dark;
        text-decoration: none;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: left;
    }
    &_login {
        font-weight: 400;
        font-size: 20px;   
        text-indent: 10px;
        color: $color-main;
        text-shadow: 0 1px 2px rgba(0,0,0,0.3);
        &::placeholder {
            font-size: 16px; 
            color: $color-main-darkest;
            text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
        }
    }
}

.font-alt {
    font-family: "Lora", 'Roboto','Helvetica Neue',sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 29px;
    // color: $color-gray;
    color: $color-gray;
    text-align: center;
    &_title{
        color: $color-main;
        text-transform: capitalize;
    }
    &_justify {
        text-align: justify;
        color: $color-gray-lightest;
    }
    &_left {
        text-align: left;
        color: $color-gray-dark;
    }
    &_serv {
        text-align: left;
        color: $color-main;
    }
    &_address {
        color: $color-main-darkest;
    }

}

.font-privacy {
    font-family: "Hans Kendrick", 'Roboto','Helvetica Neue',sans-serif;
    font-weight: 400;
    color: $color-gray-dark;
    text-align: center;
    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
    }
    &__subtitle {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
    }
    &__item {
        font-size: 15px;
        line-height: 20px;
        text-align: left;
    }
    &__p {
        font-size: 15px;
        line-height: 20px;
        text-align: justify;
    }

}    