$color-main:  rgb(255, 255, 255);
$color-main-dark: rgb(245, 245, 245);
$color-main-darken: rgb(238, 238, 238);
$color-main-fog: rgb(236, 240, 241);
//alt background in advantage
$color-main-darkest: rgb(230, 230, 230);

$color-gray-light: rgb(153, 153, 153);
$color-gray: rgb(123, 123, 123);
$color-gray-dark: rgb(92, 92, 92);

$color-night: rgb(34, 34, 34);
// background
$color-sky: rgb(19, 29, 71);

// overlay
$color-shadow: rgba(0,0,0, .81);

// button
$color-sky-dark: rgb(16, 24, 60);

// border
$color-morning: rgba(155, 165, 241, 0.8);