.locked-text {
    width: 190px;
    margin-top: 40px; 
    margin-right: 10px;
    margin-left:5px;
    color: darkblue;
    &_locked {
        color: red;
     }
    &_unlocked {
        color: green;
    }
}


