.button {
    width: 120px;
    height: 52px;
    padding: 18px 25px;
    background-image: linear-gradient(to top, rgb(29, 39, 75) 0%, rgb(58, 77, 152) 100%);
    border: none;
    outline: none;
    border-radius: 4px;
    box-shadow:  rgba(0,0,0, .12) 0px -3px 25px 0 inset, 3px 3px 20px $color-gray-light;
    &_small {
        display: block;
        height: 45px;
        width:150px;
    }
    &_big {
        width: 50%;
    }
    &:hover {
        border: none;
        background-image: linear-gradient(to top, $color-sky 0%, rgb(42, 54, 104) 100%);
        box-shadow: 3px 3px 20px $color-gray;
    }
    &:active {
        background-image: none; 
        background-color: $color-sky-dark;
        box-shadow: 3px 3px 20px $color-gray_dark;
    }

}