.header {
    position: absolute;
    height: 93px;
    width: 100%;
    &_alt {
        display: none;
    }
    &__wrapper {
        height: 93px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-main;
        &_alt {
            position: fixed;
            top: 0;
            left: 0;
            color: $color-gray-lightest;
            background-color: $color-sky;
        }
    }
}

