.home {
    display: flex;
    min-height: 440px;
    height: 95vh;
    align-items: center;
    background-image:  linear-gradient(to right, $color-shadow, $color-shadow), url('../img/bg/home_bg.jpg');
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    &__wrapper {
        padding: 90px 0;
        color: $color-main;
    }
    &__title {
        margin-bottom: 0px;
    }
    &__subtitle {
        margin-top: 10px;
        margin-bottom: 0px;
    }
    &__employees {
        margin-top: 60px;
    }

}