@media (max-width: 1200px) {
    /* browser width 992px */
    .container {
        max-width: 960px;
    }

    .logo {
        width: 200px;
        &_header {
            top: 20px;
            left: 20px;
        }
    }

    .menu {
        &_header {
            margin-left: 20px;
        }
        &__item {
            padding: 6px 12px 0 12px;
        }
    }

    .home {
        &__wrapper {
            padding-left: 20px;
        }
    }

    .font-home {
        &_title {
            font-size: 70px;
            line-height: 70px;
        }
    }

    .advantage {
        &__item {
            padding: 50px 25px;
        }
    }

    .team {
        &__item {
            width: 45%;
            padding: 0 5px;
        }
        &__wrapper {
            min-height: 690px;
        }
    }

    .goals {
        &__item {
            width: 50%;
            &_descr {
                padding: 10px 25px 10px 55px;
            }
        }
    }

    .services {
        &__block {
            padding-top: 70px;
            width: 50%;
            &_padding {
                padding: 0px 30px 0 30px;
            }
        }

    }
}

@media (max-width: 991px) {
    /* browser width 768px */
    /* elements should not be in 1 row  == tablet */
    .container {
        max-width: 720px;
    }

    .logo {
        cursor: default;
        &_header {
            top: 26px;
        }
    }

    .menu {
        &_header {
            margin-left: 200px;
        }
        &__item {
            cursor: default;
        }
        &__link {
            cursor: default;
            &::after {
                display: none;
                width: 0px;
                height: 0px;
            }
            &:hover {
                &::after {
                    width: 0px;
                }
            }
        }
    }

    .font-home {
        &_title {
            font-size: 60px;
            line-height: 80px;
        }
        &_subtitle {
            font-size: 40px;
            line-height: 40px;
        }
    }

    .font {
        &__descr {
            &_about {
                font-size: 27px;
            }
        }
        &__big {
            font-weight: 500;
        }
    }

    .font-alt {
        font-size: 14px;
        line-height: 28px;
    }

    .about {
        min-height: 400px;
        padding: 100px 0;
    }

    .advantage {
        min-height: 200px;
        &__item {
            padding: 40px 9px;
        }
        &__title {
            margin-top: 15px;
        }
        &__descr {
            margin-top: 0;
        }
    }

    .team {
        padding: 100px 0;
        &__wrapper {
            min-height: 650px;
            justify-content: space-between;
        }
        &__item {
            width: 47%;
            padding: 0 5px;
        }
    }

    .goals {
        min-height: 710px;
        padding: 100px 0;
        &__item {
            &_descr {
                padding: 10px 60px 10px 50px;
            }
        }
    }

    .services {
        padding: 100px 0;
        &__block {
            padding-top: 10px;
            width: 50%;
            &_padding {
                padding: 0px 20px 0 20px;
            }
        }

    }

    .contact {
        padding: 100px 0;
    }

    .feed-form {
        justify-content: space-between;
        &__column {
            width: 350px;
            margin: 0;
        }
    }
    
    #submit, #close {
        cursor: default;
        &:hover {
        background-image: linear-gradient(to top, rgb(29, 39, 75) 0%, rgb(58, 77, 152) 100%);
        }
        &:active {
            background-image: none; 
            background-color: $color-sky-dark;
            box-shadow: none;
        }
    }

    .footer {
        &__link {
            cursor: default;
            &::after {
                display: none;
                width: 0px;
                height: 0px;
            }
            &:hover {
                &::after {
                    width: 0%;
                }
            }
        }
        &__copyright-link {
            cursor: default;
            &:hover {
                text-decoration: none;
                cursor: default;
            } 
        }
    }
}

@media (max-width: 767px) {
    /* browser width 576px */
    /* hamburger */
    .container {
        max-width: 540px;
    }

    .logo {
        &_header {
            top: 20px;
        }
    }

    .header {
        &_alt {
            display: none;
        }
        &__wrapper {
            &_alt {
                display: none;
                height: 0;
            }
        }
    }

    .hamburger {
        display: block;
    }

    .menu {
        display: none;
        position: fixed;
        top: 93px;
        right: 0;
        width: 100%;
        min-height: 246px;
        flex-direction: column;
        align-items: flex-start;
        background-color: $color-night;
        z-index: 1;
        transition: 0.8s all;
        &_active {
            /* right: 0%; */
            display: block;
        }
        &__item {
            height: 60px;
            width: 100%;
            padding: 4px 0 4px 20px;
            border-bottom: 1px solid #333;
        }
    }

    .font {
        &_menu {
            font-family: "Montserrat",'Helvetica Neue',sans-serif;
            font-size: 11px;
            font-weight: 400;
            line-height: 50px;
        }
        &__title {
            font-size: 16px;
        }
        &__big {
            &_services {
                text-align: center;
            }
        }
    }

    .font-alt {
        font-size: 18px;
        line-height: 32px;
        &_address {
            font-size: 16px;
            line-height: 20px; 
        }
    }

    .font-home {
        &_title {
            font-size: 45px;
            line-height: 60px;
        }
        &_subtitle {
            font-size: 28px;
            line-height: 40px;
        }
    }

    .pageup {
        width: 40px;
        height: 40px;
    }

    .advantage {
        &__wrapper {
            flex-wrap: wrap;
        }
        &__item {
            width: 100%;
            padding: 80px 60px;
        }
        &__title {
            margin-top: 30px;
        }
        &__descr {
            margin: 0 auto;
            margin-top: 10px;
            width: 400px;
        }
    }

    .team {
        padding-bottom: 20px;
        &__wrapper {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item {
            width: 500px;
            padding-bottom: 80px;
        }
    }

    .goals {
        padding-bottom: 80px;
        min-height: 1000px;
        &__wrapper {
            display: block;
            height: 100%;
        }
        &__item {
            min-height: 400px;
            width: 100%;
            &_bg {
                background-image:  url('../img/bg/goals.jpg');
                background-position: 0 15%;
                background-size: cover;
                background-repeat: no-repeat;
            }
            &_descr {
                display: block;
                padding: 50px 55px;
                padding-bottom: 0;
            }
        }
        &__title {
            margin-bottom: 20px;
        }
        &__p {
            margin-bottom: 20px;
        }
    }

    .services {
        &__wrapper {
            display: block;
        }
        &__block {
            margin: 0 auto;
            padding: 0px 40px;
            width: 100%;
            &_padding {
                padding-bottom: 40px;
            }
        }

    }

    .feed-form {
        justify-content: center;
        &__column {
            width: 430px;
            margin: 0;
        }
    }

    .footer {
        &__wrapper {
            flex-wrap: wrap;
        }
        &__item {
            padding: 20px 0;
            width: 100%;
        }
        &__title {
            line-height: 20px;
        }
    }

} 

@media (max-width: 575px) {
    /* browser width 320px */

    .container {
        width: 100%;
        padding: 0 15px;
    }

    .logo {
        left: 15px;
    }

    .hamburger {
        right: 20px;
    }

    .home {
        background-position: 11% 0;
        max-height: 660px;
        &__wrapper {
            padding-left: 0;
            padding-bottom: 70px;
        }
        &__subtitle {
            margin-top: 20px;
        }
    }

    .font-home {
        &_title {
            font-size: 28px;
            line-height: 60px;
        }
        &_subtitle {
            font-size: 42px;
            line-height: 48px;
        }
    }

    .font {
        &__descr {
            &_about {
                font-size: 20px;
                line-height: 36px;
                text-align: justify;
            }
            &_passion {
                font-size: 18px;
                line-height: 36px;
            }
            &_contact {
                line-height: 30px;
            }
        }
        &__big {
            font-size: 26px;
        }
    }

    .font-alt {
        font-size: 16px;
        line-height: 30px;
        &_address {
            font-size: 14px;
        }
    }

    .about {
        min-height: 360px;
        padding: 60px 0;
        &__descr {
            margin-top: 20px;
        }
    }

    .advantage {
        &__item {
            padding: 40px 20px 60px 20px;
            width: 100%;
        }
        &__title {
            margin-top: 25px;
        }
        &__descr {
            margin-top: 5px;
            width: 100%;
            max-width: 400px;
        }
    }

    .team {
        padding-top: 60px;
        padding-bottom: 0px;
    }

    .passion {
        padding: 40px 8px;
        span {
            margin: 0 5px;
        }
        &__heart {
            width: 35px;
        }
    }

    .goals {
        min-height: 800px;
        padding: 80px 0 0px 0;
        &__item {
            min-height: 350px;
            &_descr {
                padding: 40px 20px;
            }
        }

    }

    .services {
        padding: 60px 0;
        &__block {
            padding: 0px 20px;
            &_padding {
                padding-bottom: 30px;
            }
        }
    }

    .contact {
        padding: 60px 0;
    }

    .feed-form {
        &__column {
            width: 100%;
        }
    }


}