.modal_basic {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    min-height: 290px;
    background-color: $color-main-darkest;
    padding: 35px 40px 40px 40px; 
    &__title {
        margin-top: 20px;
        margin-bottom: 0;
    }
    &__descr {
        margin-bottom: 0;
    }
    &__btn {
        margin: 0 auto;
        margin-top: 40px;
    }
}
#thanks {
    display: none;
}