.portal {
    // display: none;
    min-height: 358px;
    padding: 80px 0;
    background-color: $color-main-dark;
    &__tabs-wrapper {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
    &__column {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        padding: 0 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__tab {
        width: 196px;
        height: 30px;
        padding: 6px 2px;
        margin-bottom: 2px;
        border-radius: 4px;
        border: 1px solid $color-gray;
        background-image: linear-gradient(to top, $color-gray-darkest 0%, $color-gray 100%);
        cursor: pointer; 
        &_admin {
            background-image: linear-gradient(to top, rgb(44, 106, 9) 0%, rgb(28, 55, 12) 100%);
        }
        &:hover {
            background-color:  $color-gray-hover;
        }
        &_done {
            background-image: linear-gradient(to top, rgb(20, 32, 75) 0%, rgba(9, 28, 95, 0.7) 100%);
            color: $color-main;
            &:hover {
                background-color:   rgb(20, 32, 75);
            }
        }
        &_active {
            background-image: linear-gradient(to top, rgba(18, 47, 166, 0.9) 0%, rgba(17, 61, 220, 0.7) 100%);
            &:hover {
                background-color:  rgba(9, 38, 156, 0.9);
            }
        }
    }
    &__form {
        margin-top: 40px;

    }
    &__wrapper {
        max-width: 100%;
        overflow-x: scroll;
        overflow: auto;
        max-height: 500px;
    }
	&__buttons-section {
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
		div {
			display: flex;
			flex-direction: column;
		}
	}
	&__form-button {
		margin: 0;
	}
}