.services {
    min-height: 640px;
    padding: 120px 0;
    background-color: $color-sky;
    &__wrapper {
        display: flex;
        min-height: 400px;
        justify-content: center;
    }
    &__block {
        width: 580px;
        &_padding {
            padding: 10px 58px 0 58px;
        }
    }
    &__title {
        margin-bottom: 0;
    }
    &__p {
        margin-top: 15px;
        margin-bottom: 0;
    }
    &__list {
        margin-top: 30px;
        padding-left: 20px;
        margin-bottom: 0;
    }
    &__item {
        margin-top: 10px;
    }
    &__img {
        width: 100%;
    }
}