
th {
    border-right: 1px solid $color-gray-light;
    border-bottom: 1px solid $color-gray-light;
    white-space: nowrap;
    &:first-child {
        position: sticky;
        left: 0;
        border-left: 1px solid $color-gray-light;
        background-color: $color-main-darkest;
        text-align: left;
        white-space:normal;
        &.tac {
            text-align: center;
        }
    }
    
}

td {
    border-right: 1px solid $color-gray-light;
    border-bottom: 1px solid $color-gray-light;
    white-space: nowrap;
    &:first-child {
        border-left: 1px solid $color-gray-light;
        text-align: left;
        white-space:normal;
        position: sticky;
        left: 0;
    }
}


.first {
   min-width: 280px;
   &_wide {
    min-width: 350px;
   } 
}
.narrow {
    min-width: 70px;
}
.date {
    min-width: 163px;
}
.comments {
    min-width: 180px;
}


.bg-column {
    background-color: $color-main-darkest;
    padding: 3px 2px;
}

.table {
    margin-top: 10px;
    padding: 2px;
    border: 1px solid $color-gray-light;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    span {
        font-weight: 700;
    }
    &__z {
        z-index: 5;
    }
    &__thead {
        position: sticky;
        top: 0;
        background-color: $color-main-darkest;
    }
    &__th {
        font-weight: 400;
        padding: 4px 2px;
        text-align: center;
    }
    &__title {
        padding: 2px 3px 0 3px;
        font-weight: 700;
        line-height: 18px;
        vertical-align: middle;
        &_pt {
            padding: 0;
            padding-top: 8px;
            vertical-align: bottom;
        }
    }
    &__row {
        padding: 10px 2px 2px 2px;
        font-weight: 700;
        line-height: 14px;
        vertical-align: bottom;
    }
    &__bg {
        background-color: $color-row;
        padding: 4px 2px;
        &_orange {
            background-color: $color-orange;
        }
        &_green {
            background-color: $color-green;
        }
    }
    &__btn {
        margin: 20px 0 0 auto;
    }
    &__input {
        min-height: 20px;
        padding: 2px 5px;
        margin: 0;
        border: 0;
        width: 100%;
    }
    &__img {
        width: 100%;
        height: 50px;
    }
}





  


  