.upload {
	height: 38px;
	margin:0;
	margin-top: 15px;
	padding: 0;
	display: flex;
	border-radius: 2px;
	input::-webkit-file-upload-button {
		border: none;
		outline: none;
		background-image: linear-gradient(to top, $color-gray-dark 0%, rgb(72, 72, 82) 100%);
		color: white;
		height: 38px;
		padding: 0 3px;
		cursor: pointer;
		&:hover {
			border-radius: 2px;
			background-image: linear-gradient(to top, rgb(72, 72, 62) 0%,  rgb(62, 62, 72) 100%);
			box-shadow: -3px 3px 20px $color-gray;
		}
		&:active {
			border-radius: 2px;
			background-image: linear-gradient(to top, rgb(62, 62, 72) 0%,  rgb(52, 52, 62) 100%);
			box-shadow: -3px 3px 20px $color-gray;
		}
	}
	&_file {
		margin: 0;
		height: 38px;
		padding: 0;
		overflow: hidden; /* long file names overflow so just hide the end */
		background: $color-main;
		border-radius: 2px;
		border: 2px solid $color-gray;
		outline: none;
		cursor: pointer;
		&:visited,
		&:hover,
		&:focus,
		&:active {
			margin: 0;
			padding: 0;
			overflow: hidden; /* long file names overflow so just hide the end */
			background: $color-main;
			border-radius: 2px;
			outline: none;
			cursor: pointer;
		}
		&:hover {
			background: rgb(250, 250, 255);
			border: 2px solid $color-gray-light;
		}
		&:visited,
		&:focus,
		&:active {
			background: $color-main;/* Default back to white when focused. */
			border: 1px solid $color-gray-lightest;
		}
	}

	// border-radius: .2em;
	// border-radius: .2rem;
	// outline: none;
	// border: 2px solid #bbb;
	// cursor: pointer;
	// -webkit-appearance: textfield;
	// -moz-appearance: textfield;
	// &:visited,
	// &:hover,
	// &:focus,
	// &:active {
	// 	margin:0;
	// 	padding: 0em 0em;/* fallback: older browsers like IE 1-8 need "em" */
	// 	padding: 0rem 0rem;/* older browsers dont know what "rem" is */
	// 	overflow: hidden; /* long file names overflow so just hide the end */
	// 	background: #fff;
	// 	border-radius: .2em;
	// 	border-radius: .2rem;
	// 	outline: none;
	// 	border: 2px solid #bbb;
	// 	cursor: pointer;
	// 	-webkit-appearance: textfield;
	// 	-moz-appearance: textfield;
	// }
	// &:hover {
	// 	background: #f9f9ff; /* Optional rollover color: I am using a light blue to indicate an interaction */
	// 	border: 2px solid #999;
	// }
	// &:visited,
	// &:focus,
	// &:active {
	// 	background: #fff; /* Default back to white when focused. */
	// 	border: 2px solid #999;
	// }
	// &:disabled {
	// 	margin: 0;
	// 	padding: 0em 0em;
	// 	padding: 0rem 0rem;
	// 	overflow: hidden; /* long file names overflow so just hide the end */
	// 	background: #ddd;
	// 	border-radius: .2em;
	// 	border-radius: .2rem;
	// 	outline: none;
	// 	border: 2px solid #bbb;
	// 	cursor: pointer;
	// }
	// &:disabled:hover{
	// 	background: #ddd; /* disabled-readonly buttons should be grey */
	// 	border: 2px solid #999;
	// }
	// &:disabled:visited,
	// &:disabled:focus,
	// &:disabled:active {
	// 	background: #ddd; /* disabled-readonly buttons should be grey */
	// 	border: 2px solid #999;
	// }
	// &::-ms-browse{
	// 	display: inline-block;
	// 	margin: 0;
	// 	padding: .2em .5em;
	// 	padding: .2rem .5rem;
	// 	text-align: center;
	// 	outline: none;
	// 	border: none;
	// 	background: #fff;
	// 	white-space: nowrap;
	// 	cursor: pointer;
	// }
	// /* FIREFOX UPLOAD BUTTON STYLE */
	// &::file-selector-button{
	// 	display: inline-block;
	// 	margin: 0rem 1rem 0rem 0rem;
	// 	padding: .18em .5em;
	// 	padding: .18rem .5rem;
	// 	-webkit-appearance: button;
	// 	text-align: center;
	// 	border-radius: .1rem 0rem 0rem .1rem;
	// 	outline: none;
	// 	border: none;
	// 	border-right: 2px solid #bbb;
	// 	background: #eee;
	// 	white-space: nowrap;
	// 	cursor: pointer;
	// }
	// /* CHROME AND EDGE UPLOAD BUTTON STYLE */
	// &::-webkit-file-upload-button {
	// 	display: inline-block;
	// 	margin: 0rem 1rem 0rem 0rem;
	// 	padding: .19em .5em;
	// 	padding: .19rem .5rem;
	// 	-webkit-appearance: button;
	// 	text-align: center;
	// 	border-radius: .1rem 0rem 0rem .1rem;
	// 	outline: none;
	// 	border: none;
	// 	border-right: 2px solid #bbb;
	// 	background: #eee;
	// 	white-space: nowrap;
	// 	cursor: pointer;
	// }
}