@font-face {
    font-family: 'Hans Kendrick';
    src: local('Hans Kendrick Regular Regular'), local('HansKendrick-Regular'),
        url('../fonts/HansKendrick-Regular.woff2') format('woff2'),
        url('../fonts/HansKendrick-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hans Kendrick';
    src: local('Hans Kendrick-Medium'), local('HansKendrick-Medium'),
        url('../fonts/HansKendrick-Medium.woff2') format('woff2'),
        url('../fonts/HansKendrick-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hans Kendrick';
    src: local('Hans Kendrick-Heavy'), local('HansKendrick-Heavy'),
        url('../fonts/HansKendrick-Heavy.woff2') format('woff2'),
        url('../fonts/HansKendrick-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
